@{
    var ApplicationUser = this.Context.GetUser();
}
<header class="navbar-fixed-top">
    <div class="container">
        <div class="pull-left logo">
            <img src="~/images/logo.png" alt="ОАО Ошмянский мясокомбинат" />
        </div>
        @if (ApplicationUser != null)
        {
            <div class="pull-right">
                <p>@($"{ApplicationUser.FirstName} {ApplicationUser.LastName}".Trim())</p>
                <form asp-controller="Account" asp-action="Logout" method="post" class="center-text">
                    @Html.AntiForgeryToken()
                    <button class="btn btn-default" type="submit">Выйти</button>
                </form>
            </div>
        }
        <div class="inline">
            <h1>ОАО "Ошмянский мясокомбинат"</h1>
            <h2>Система учета продукции</h2>
            @if (ApplicationUser != null)
            {
                <nav class="navbar">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <li><a asp-controller="Categories" asp-action="List">Продукция</a></li>
                            @if (User.IsInRole("Сотрудник"))
                            {
                                <li><a asp-controller="Providers" asp-action="List">Поставщики</a></li>
                            }
                        </ul>
                    </div>
                </nav>
            }
        </div>
    </div>
</header>