<header class="navbar-fixed-top">
    <div class="container">
        <img src="~/images/logo.png" alt="ОАО Ошмянский мясокомбинат"/>
        <div class="inline-block">
            <h1>ОАО "Ошмянский мясокомбинат"</h1>
            <h2>Система учета продукции</h2>
        </div>
    </div>
</header>