@model ProviderViewModel
@{
    ViewData["Title"] = Model == null ? "Добавление поставщика" : Model.Name;
}

<div class="text-center">
    <h2>@(Model == null ? "Добавление поставщика" : $"Редактирование поставщика: {Model.Name}")</h2>
</div>

<div class="container col-lg-8 col-lg-offset-2">
    <form method="post" asp-controller="Providers" asp-action="Edit" class="form-horizontal" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id"/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label col-xs-3">Название</label>
            <div class="col-xs-9">
                <input asp-for="Name" type="text" class="form-control" placeholder="Введите название" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label col-xs-3">Адрес</label>
            <div class="col-xs-9">
                <textarea asp-for="Address" class="form-control" placeholder="Введите адрес"></textarea>
            </div>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contact" class="control-label col-xs-3">Контакты</label>
            <div class="col-xs-9">
                <textarea asp-for="Contact" class="form-control" placeholder="Введите котактную информацию"></textarea>
            </div>
            <span asp-validation-for="Contact" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default col-xs-offset-5">Сохранить</button>
            <a asp-controller="Providers" asp-action="List" class="btn btn-default">Отмена</a>
        </div>
    </form>
</div>