@model LoginViewModel
<div class="container col-lg-6">
    <h4>Вход в систему учета продукции</h4>
    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" class="form-horizontal">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Login" class="control-label col-xs-2">Логин</label>
            <div class="col-xs-9">
                <input asp-for="Login" type="text" class="form-control" placeholder="Введите логин" />
            </div>
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label col-xs-2">Пароль</label>
            <div class="col-xs-9">
                <input asp-for="Password" class="form-control" placeholder="Введите пароль" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default col-xs-offset-5">Войти</button>
        </div>
    </form>
</div>